@import '~antd/lib/style/index.less';

.a-select-wrap {
  position: relative;

  .@{ant-prefix}-select-selection-item {
    display: none;
  }

  .a-select-value-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
  }
}
