**/*.md
**/*.svg
**/*.ejs
**/*.html
package.json
.umi
.umi-production
.umi-test
packages/a-base-icon/src
packages/a-base-icon/es
packages/a-base-icon/lib

packages/a-icons/src
packages/a-icons/es
packages/a-icons/lib

packages/aa-utils/src
packages/aa-utils/es
packages/aa-utils/lib

packages/assui/lib
packages/assui/src
packages/assui/es

packages/amssui/lib
packages/amssui/src
packages/amssui/es

packages/ec-common/lib
packages/ec-common/src
packages/ec-common/es
