.a-select-value-wrap {
  display: flex;
  align-items: center;
  padding-left: 5px;

  .spotecicon {
    width: 18px;
    height: 18px;
    margin-right: 10px;
  }
}


.ellipsis {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  width: 300px;
}
