@import '../../style/variables.less';

.ellipsis-modal-content {
  width: 100%;
  max-height: 40vh;
  overflow: auto;
  color: @color_7d7d7d;
  white-space: pre-wrap;
}

.ellipsis-tooltip {
    max-width: 320px;
}

.ellipsis-tooltip-content {
  max-height: 40vh;
  overflow: auto;
  white-space: pre-wrap;
}

.cursor {
  cursor: pointer;
}
