/* stylelint-disable indentation */
@import '~antd/es/style/themes/index';
@import '../../style/themes/default.less';

@color_9aa5b5: #9aa5b5;
@font-size-base: 14px;

.label-select {
  position: relative;
  width: 100%;
  height: 100%;

  .@{ant-prefix}-select-single.@{ant-prefix}-select-lg:not(.@{ant-prefix}-select-customize-input)
    .@{ant-prefix}-select-selector {
    height: 45px;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    outline: none;
  }

  .@{ant-prefix}-select-focused:not(.@{ant-prefix}-select-disabled).@{ant-prefix}-select:not(.@{ant-prefix}-select-customize-input)
    .@{ant-prefix}-select-selector {
    border-color: @labelFocusBorderColor;
    box-shadow: none;
  }

  .@{ant-prefix}-select-single.@{ant-prefix}-select-show-arrow
    .@{ant-prefix}-select-selection-item {
    padding-top: 11px;
    padding-left: 4px;
    font-size: @font-size-base;
  }

  .@{ant-prefix}-select-selection-search {
    padding-top: 11px;
    padding-left: 2px;
  }

  .@{ant-prefix}-select-arrow {
    top: 44%;
    width: 22px;
    height: 22px;
    color: #7d7d7d;

    .spotecicon {
      width: 22px;
      height: 22px;
    }
  }

  &-text {
    position: absolute;
    top: 12px;
    left: 16px;
    z-index: 2;
    height: 20px;
    color: @color_9aa5b5;
    font-size: @font-size-base;
    line-height: 20px;
    transform-origin: top left;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }

  &-label-scale {
    .label-select-text {
      transform: translateY(@labelTextLabeltranslateY) scale(@labelTextLabelScale);
      cursor: text;
      pointer-events: none;
    }
  }
}
