@import '~antd/lib/style/index.less';

.@{ant-prefix}-flex-wrap-wrap {
  flex-wrap: wrap;
}

.@{ant-prefix}-flex-wrap-nowrap {
  flex-wrap: nowrap;
}

.@{ant-prefix}-flex-wrap-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.@{ant-prefix}-flex-align-center {
  align-items: center;
}

.@{ant-prefix}-flex-align-start {
  align-items: start;
}

.@{ant-prefix}-flex-align-end {
  align-items: end;
}

.@{ant-prefix}-flex-align-flex-start {
  align-items: flex-start;
}

.@{ant-prefix}-flex-align-flex-end {
  align-items: flex-end;
}

.@{ant-prefix}-flex-align-baseline {
  align-items: baseline;
}

.@{ant-prefix}-flex-align-stretch {
  align-items: stretch;
}

.@{ant-prefix}-flex-justify-flex-start {
  justify-content: flex-start;
}

.@{ant-prefix}-flex-justify-flex-end {
  justify-content: flex-end;
}

.@{ant-prefix}-flex-justify-center {
  justify-content: center;
}

.@{ant-prefix}-flex-justify-space-between {
  justify-content: space-between;
}

.@{ant-prefix}-flex-justify-space-around {
  justify-content: space-around;
}

.@{ant-prefix}-flex {
  display: flex;

  &-vertical {
    flex-direction: column;
  }

  &:empty {
    display: none;
  }

  &-gap-small {
    gap: 8px;
  }

  &-gap-middle {
    gap: 16px;
  }

  &-gap-large {
    gap: 24px;
  }
}
