.a-select-wrap {
  position: relative;
}
.a-select-wrap .ant-select-selection-item,
.a-select-wrap .ant-select-content-value {
  display: none;
}
.a-select-wrap .ant-select-single .ant-select-content {
  color: transparent;
}
.a-select-wrap .ant-select-single .ant-select-content-has-value > :not(.ant-select-input) {
  display: none;
}
.a-select-wrap .a-select-value-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
}
.a-select-wrap .ant-select:not(.ant-select-customize) {
  z-index: 3;
  background-color: transparent;
}
