.color-select-wrap {
  display: flex;
}
.color-select {
  position: relative;
  width: 130px;
  padding: 4px 11px;
  border: 1px solid var(--ant-color-border, #d9d9d9);
  border-radius: var(--ant-border-radius, 2px);
}
.color-select,
.color-select *,
.color-select *:before,
.color-select *:after {
  box-sizing: border-box;
}
.color-select:hover {
  border: 1px solid var(--ant-color-primary, #1890ff);
}
.color-select:focus,
.color-select-focused {
  border-color: var(--ant-color-primary-hover, #40a9ff);
  border-right-width: 1px;
  outline: 0;
  box-shadow: 0 0 0 var(--ant-control-outline-width, 2px) var(--ant-control-outline, rgba(24, 144, 255, 0.2));
}
.color-select-value {
  width: 80px;
  height: 20px;
}
.color-select-placeholder {
  color: #bfbfbf;
}
.color-select .color-select-arrow {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.color-select .color-select-arrow .spotecicon {
  width: 12px;
  height: 12px;
}
