.label-condition-select {
  display: flex;
  align-items: center;
  width: 100%;
}
.label-condition-select-selector {
  width: 30%;
  margin-right: 8px;
}
.label-condition-select-second-input {
  width: 70%;
}
.label-condition-select-two-select-selector {
  width: 50%;
  margin-right: 8px;
}
.label-condition-select-only-selector {
  width: 100%;
  margin-right: 0;
}
.label-condition-select-second-select {
  width: 50%;
}
