.condition-select.ant-select-open .ant-select-suffix {
  color: #121212;
  transform: rotate(180deg);
}
.condition-select .ant-select-suffix {
  width: 16px;
  height: 16px;
  color: #999999;
  transition: all 0.2s;
}
.condition-select .ant-select-suffix .spotecicon {
  width: 16px;
  height: 16px;
}
