.label-customize-range-picker-panel .customize-select-text {
  margin-left: 8px;
}
.label-customize-range-picker-panel .check-wrapper {
  padding: 8px 11px 6px;
  border-bottom: 1px solid #f5f6fa;
}
.label-customize-range-picker-panel .check-wrapper .ant-checkbox-wrapper {
  pointer-events: none;
}
.label-customize-range-picker-panel .check-wrapper .ant-checkbox-input {
  pointer-events: auto;
}
.label-customize-range-picker-panel .pick-box {
  display: flex;
  justify-content: space-between;
  width: 265px;
  padding: 8px 11px 11px;
}
.label-customize-range-picker-panel .pick-box .radio {
  display: inline-block;
  width: 50%;
  margin-right: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.label-customize-range-picker-panel .pick-box .ant-radio-group {
  width: 100%;
}
.label-customize-range-picker-panel .customize-select {
  vertical-align: middle;
}
@media screen and (max-width: 576px) {
  .label-customize-range-picker-panel .panel {
    max-width: 280px;
    overflow-x: scroll;
  }
}
